<div class="marquee-boundry repeat">
  <h6>
        WORKING ORDER WORKING ORDER WORKING ORDER WORKING ORDER WORKING ORDER WORKING ORDER WORKING ORDER WORKING ORDER WORKING ORDER WORKING ORDER WORKING ORDER WORKING ORDER WORKING ORDER WORKING ORDER WORKING ORDER
  </h6>
</div>
<div class="container-fluid">
  <div class="footer-section">
    <div class="about">
      <div class="row">
          <div class="col-8 offset-2">
            <h4 class="bold">All of us are a work-in-progress.</h4>
            <h4>
              Even after we accomplish something, it never feels like we’re done. There’s always another level. Another goal. And you know what? That’s ok. What matters isn’t achievement, or accomplishment, or being “finished.” What matters is moving, trying, and doing. It isn’t about being perfect—just a little bit better than you were last time. We make stuff your body needs to keep going. So embrace the messy work-in-progress that you are. If you fall down, that’s ok—we all do it. Just remember to get back up and keep going.
            </h4>
            <h4>-WORKING ORDER</h4>
          </div>
      </div>
    </div>
  </div>
</div>
