<div class="about-section">
  <div class="cream-background">
    <div class="container-fluid">
      <div class="section">
        <div class="about">
          <div class="row">
              <div class="col-6 offset-1">
                <h5 class="bold section-padding-top">All of us are a work-in-progress.</h5>
                <p class="small">
                  Even after we accomplish something, it never feels like we’re done. There’s always another level. Another goal. And you know what? That’s ok. What matters isn’t achievement, or accomplishment, or being “finished.” What matters is moving, trying, and doing. It isn’t about being perfect—just a little bit better than you were last time. We make stuff your body needs to keep going. So embrace the messy work-in-progress that you are. If you fall down, that’s ok—we all do it. Just remember to get back up and keep going.
                </p>
                <p class="small section-padding-bottom">-WORKING ORDER</p>
              </div>
              <div class="col-lg-4 offset-lg-1">
                <img class="absolute" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/about-img.png?11117952751457121781" alt="images of people being active">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
