<div class="container">
  <div class="about">
    <div class="row">
        <div class="col-10 offset-1">
          <h6>Hi, we're Working Order</h6>
          <p>
            We’re not here to push you to perfection because we don’t believe that’s a thing. What we do believe in is moving, trying, thinking that you can. We celebrate the fact that we’re all just works in progress. We’ll always have a ton of goals, and we embrace the messy middle part that’s often pushed aside and forgotten. We make stuff that your body needs so that you can keep going. If you fall down that’s ok. We all do - just get back up no matter how long you need.
          </p>
        </div>
    </div>
  </div>
</div>
