  <div class="container">
    <div class="section">
      <div class="benefits">
        <div class="row">
          <div class="col-lg-8">
              <p>What does it do?</p>
              <ul>
                <li class="benefits-list">
                  <h3>Helps you recover from exercise</h3>
                </li>
                <li class="benefits-list">
                  <h3>Keeps you full and energized so you can keep moving</h3>
                </li>
                <li class="benefits-list">
                  <h3>Makes your skin healthy and balanced</h3>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
