<div class="section">
  <div class="benefits">
    <div class="container-fluid">
      <div class="row">
        <div>
          <h2 class="top-skewed-copy">+++++Collagen</h2>
        </div>
        <div class="right absolute background-pattern">
          <img src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/benefits-img.png?6099548048985148207" alt="pattern-background">
        </div>
      </div>
      <div class="row">
        <div class="col-2 offset-2">
          <h2>protein</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-5 offset-2">
          <ul class="no-bullets">
            <li>
              <h3>Helps you recover from exercise <span class="italic">&</span</h3>
            </li>
            <li>
              <h3>keeps you full and energized <span class="italic">&</span</h3>
            </li>
            <li>
              <h3>makes your skin healthy <span class="italic">&</span</h3>
            </li>
            <li>
              <h3>does so much more stuff.</h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
