<div class="container">
  <div class="section">
    <div class="fact">
      <div class="row offset-lg-8">
        <div class="col-lg-3 absolute index-front">
          <p>
            Collagen is the second most abundant thing in your body. This first is water. :O
          </p>
        </div>
        <img class="image padding-fact" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/oval4.png?13058819441071137794" alt="background-pattern">
      </div>
    </div>
  </div>
</div>
