<div class="container">
  <div class="section">
    <div class="col-lg-12">
      <div class="fact">
        <div class="row">
          <div class="col-lg-4 col-sm-12 offset-lg-6 index-front fact-text">
            <p>
              Collagen is the second most abundant thing in your body. This first is water. :O
            </p>
          </div>
            <div class="absolute offset-lg-9 offset-7">
              <img class="image" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/oval4.png?13058819441071137794" alt="background-pattern">
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
