<!-- <div class="hero">
  <div class="container">
    <div class="row main-logo">
      <div class="offset-1">
          <h1>WORKING ORDER</h1>
      </div>
    </div>
  </div>
</div> -->
<div class="hero hero-height-xs hero-height-lg">
  <div class="stamp">
    <div class="col-7 col-lg-4 index-front-2">
      <img class="image absolute stamp-spacing" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/stamp.png?16115976564652871000" alt="A refreshing collagen protein water stamp image">
    </div>
  </div>
  <div class="absolute index-front-1 hero-spacing marquee-boundry">
    <h1 id="marquee">
          WORKING ORDER WORKING ORDER WORKING ORDER
    </h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 offset-lg-5">
        <img class="absolute hero-image" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/hero-image.png?4463861977664962051" alt="stamp-image">
      </div>
    </div>
  </div>
</div>
