<!-- <div class="hero">
  <div class="container">
    <div class="row main-logo">
      <div class="offset-1">
          <h1>WORKING ORDER</h1>
      </div>
    </div>
  </div>
</div> -->
<div class="hero">
  <div class="stamp">
    <div class="col-lg-4 index-front-2">
      <img class="image absolute stamp-spacing" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/stamp.png?16115976564652871000" alt="stamp-image">
    </div>
  </div>
  <div class="absolute index-front-1 margin-320">
    <h1 id="marquee">
          WORKING ORDER WORKING ORDER WORKING ORDER
    </h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="offset-lg-1 col-lg-3 margin-100">
        <img class="image" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/biking.jpg?9013484656587578510" alt="biking-image">
      </div>
      <div class="offset-lg-1 col-lg-2 margin-425">
        <img class="image" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/jumping.jpg?9013484656587578510" alt="jumping-image">
      </div>
      <div class="col-lg-3">
        <img class="image" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/climbing.jpg?9013484656587578510" alt="rock-climbing-image">
      </div>
      <div class="col-lg-2 margin-450">
        <img class="image" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/stretch.jpg?9013484656587578510" alt="stretching-image">
      </div>
    </div>
  </div>
</div>
