<div class="section-xs">
  <div class="hero">
    <div class="stamp">
      <div class="col-6 offset-5 offset-lg-0 col-lg-4 ">
        <img class="image absolute stamp-spacing index-front-10" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/stamp.png?16115976564652871000" alt="stamp-image">
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 first-hero-image offset-lg-1 col-lg-3">
          <img class="image" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/biking.jpg?9013484656587578510" alt="biking-image">
        </div>
        <div class="col-6 offset-lg-3 col-lg-3">
          <img class="image" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/climbing_c8c2f498-7133-445e-bff5-15f031d05298.jpg?3267616614487073212" alt="rock-climbing-image">
        </div>
      </div>
      <div class="row">
        <div class="col-12" id="no-padding">
            <h1 id="marquee" class="marquee-text">
                  WORKING ORDER WORKING ORDER WORKING ORDER
            </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-4 offset-1 offset-lg-5 col-lg-2">
          <img class="image jumping_image" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/jumping.jpg?9013484656587578510" alt="jumping-image">
        </div>
        <div class="col-4 offset-2 col-lg-2 offset-lg-2">
          <img class="image hide-xs" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/stretch.jpg?9013484656587578510" alt="stretching-image">
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
