<div class="container">
  <div class="section">
    <div class="col-lg-11">
      <div class="how">
        <div class="row">
          <div class="col-lg-7 explainer-text index-front">
              <p>How?</p>
              <div class="offset-1">
                <h3>
                  Working Order has collagen in it, which is different than other kinds of protein because you have it in your body already. In fact, it’s a building block what makes you up. It’s packed with “non essential” amino acids, glycine, proline, and hydroxyproline, that are actually pretty essential to keeping you functioning smoothly. It’s often called the “glue” that holds together all of our muscles, joints, bones, and skin. Collagen is why we can move, bend, and stretch.
                </h3>
                <h3>
                  We have bad news and good news about collagen. The bad news: we produce 1% less every year as we get older, but the good news: this drink has 12g of collagen protein :)
                </h3>
                <h3>
                  We also only add in ingredients that are functional, nothing extra, so that you can keep moving and do more stuff.
                </h3>
              </div>
          </div>
          <div class="col-lg-5 absolute offset-6 how-image">
            <img class="image" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/Rectangle_13_Copy.png?12117766935876502050" alt="background-pattern">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
