<div class="cream-background">
  <div class="how">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 offset-lg-1 col-5">
            <h3 class="bold how-padding-xs">…how?</h3>
        </div>
        <div class="hide-desktop col-7" id="no-padding">
          <img src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/how-mobile-img.png?6983954163227471054" alt="pattern-background">
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 offset-lg-1">
          <p>
            Collagen is different than other kinds of protein because you have it in your body already. In fact, it’s a building block what makes you up. It’s packed with “non essential” amino acids, glycine, proline, and hydroxyproline, that are actually pretty essential to keeping you functioning smoothly. It’s often called the “glue” that holds together all of our muscles, joints, bones, and skin. Collagen is why we can move, bend, and stretch.
          </p>
          <p>
            We have bad news and good news about collagen. The bad news: we produce 1% less every year as we get older, but the good news: this drink has 12g of collagen protein :)
          </p>
          <a href="#product" class="btn how-btn col-8 col-lg-3">Shop the drink</a>
        </div>
        <div class="col-lg-3 no-paddding hide-xs">
          <img src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/how-img.png?10183057218513903360" alt="pattern-background">
        </div>
        </div>
        <div class="row">
            <div class="col-5 offset-7 hide-desktop" id="no-padding">
              <img src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/how-mobile-end-img.png?9803679628549666065" alt="pattern-background">
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
