<div class="cream-background">
  <div class="how">
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-8 offset-lg-1">
              <h3 class="bold">…how?</h3>
            <p>
              Collagen is different than other kinds of protein because you have it in your body already. In fact, it’s a building block what makes you up. It’s packed with “non essential” amino acids, glycine, proline, and hydroxyproline, that are actually pretty essential to keeping you functioning smoothly. It’s often called the “glue” that holds together all of our muscles, joints, bones, and skin. Collagen is why we can move, bend, and stretch.
            </p>
            <p>
              We have bad news and good news about collagen. The bad news: we produce 1% less every year as we get older, but the good news: this drink has 12g of collagen protein :)
            </p>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-2 offset-1">
          <button class="btn how-btn">Shop the drink</button>
        </div>
      </div>
    </div>
  </div>
</div>
