  <div class="ingredients">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-7">
            <div class="row">
              <div>
                <h2 class="top-skewed-copy-padding-xs">+++++Ingredients</h2>
              </div>
            </div>
            <div class="row sub-head">
              <div class="col-lg-12 offset-lg-4 offset-4">
                <h2>that do stuff</h2>
              </div>
            </div>
          </div>
        </div>
        </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="col-12">
              <p class="absolute index-front-3 ingredient-blurb">
                <span class="bold">Collagen</span> is a protein naturally found in our bodies that holds us together and helps us move, bend, and stretch.
              </p>
            </div>
            <div class="col-lg-5 col-6">
                <img src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/collagen-img.png?10049664437018908908" alt="collagen-image">
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="col-12">
              <p class="absolute index-front-3 ingredient-blurb">
                <span class="bold">Acerola Cherry</span> is a super potent source of Vitamin C, which helps synthesizes the collagen protein in your body. It also contains antioxidants, carotenoids, and biofavonoids, which support heart health.
              </p>
            </div>
            <div class="col-lg-5 col-6">
                <img src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/acerola-img.png?10049664437018908908" alt="collagen-image">
            </div>
          </div>
        </div>
        <div class="row ingredient-row-2">
          <div class="col-lg-6 col-12">
            <div class="col-12">
              <p class="absolute index-front-3 ingredient-blurb">
                <span class="bold">Morello Cherry</span> has high levels of anthocyonins and anti-inflammatories to help you recover from exercise.
              </p>
            </div>
            <div class="col-lg-5 col-6">
                <img src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/morello-img.png?10049664437018908908" alt="collagen-image">
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="col-12">
              <p class="absolute index-front-3 ingredient-blurb">
                <span class="bold">Rosehip</span> adds an extra boost of antioxidants and anti-inflammation power.
              </p>
            </div>
            <div class="col-lg-5 col-6">
                <img src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/rosehip-img.png?10049664437018908908" alt="collagen-image">
            </div>
          </div>
        </div>
        <div class="row ingredient-row-3">
          <div class="col-lg-6 col-12">
            <div class="col-12">
              <p class="absolute index-front-3 ingredient-blurb">
                <span class="bold">Orange</span> also has a ton of Vitamin C to synthesize that collagen.
              </p>
            </div>
            <div class="col-lg-5 col-6">
                <img src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/orange-img.png?10049664437018908908" alt="collagen-image">
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="col-12">
              <p class="absolute index-front-3 ingredient-blurb">
                <span class="bold">Water</span> of course. There’s a lot of filtered water in this so that you stay hydrated and the drink stays light and refreshing.
              </p>
            </div>
            <div class="col-lg-5 col-6">
                <img src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/water-img.png?10049664437018908908" alt="collagen-image">
            </div>
          </div>
        </div>
      </div>
  </div>
