<div class="container">
  <div class="section">
    <div class="col-lg-12">
      <div class="ingredients">
        <div class="row">
          <div class="col-lg-6 index-front offset-lg-6">
            <div class="explainer-text">
              <h3>Ingredients:</h3>
              <p class="gray">
                Water, Grass-Fed Collagen Peptides, Morello Cherry Extract, Acerola Cherry Extract, Lemon Extract, Orange Extract, Monkfruit Extract and Rosehip.
              </p>
              <div class="ingredient-detail">
                <div class="row">
                  <div class="absolute">
                    <img class="image" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/ingredient-image.png?12098225533691384626" alt="background-pattern">
                  </div>
                  <div class="ingredient-paragraph index-front">
                    <h3 class="ingredient-name">Collagen</h3>
                    <p>
                      is a protein naturally found in our bodies that holds us together and helps us move, bend, and stretch.
                    </p>
                  </div>
                </div>
              </div>
              <div class="ingredient-detail">
                <div class="row">
                  <div class="absolute">
                    <img class="image" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/ingredient-image.png?12098225533691384626" alt="background-pattern">
                  </div>
                  <div class="ingredient-paragraph index-front">
                    <h3 class="ingredient-name">Morello Cherry</h3>
                    <p>
                      has high levels of anthocyonins and anti-inflammatories to help you recover from exercise
                    </p>
                  </div>
                </div>
              </div>
              <div class="ingredient-detail">
                <div class="row">
                  <div class="absolute">
                    <img class="image" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/ingredient-image.png?12098225533691384626" alt="background-pattern">
                  </div>
                  <div class="ingredient-paragraph index-front">
                    <h3 class="ingredient-name">Rosehip</h3>
                    <p>
                      adds an extra boost of antioxidants and anti-inflammation power.
                    </p>
                  </div>
                </div>
              </div>
              <div class="ingredient-detail">
                <div class="row">
                  <div class="absolute">
                    <img class="image" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/ingredient-image.png?12098225533691384626" alt="background-pattern">
                  </div>
                  <div class="ingredient-paragraph index-front">
                    <h3 class="ingredient-name">Acerola Cherry</h3>
                    <p>
                      is a super potent source of Vitamin C, which helps synthesizes the collagen protein in your body. It also contains antioxidants, carotenoids, and biofavonoids, which support heart health.
                    </p>
                  </div>
                </div>
              </div>
              <div class="ingredient-detail">
                <div class="row">
                  <div class="absolute">
                    <img class="image" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/ingredient-image.png?12098225533691384626" alt="background-pattern">
                  </div>
                  <div class="ingredient-paragraph index-front">
                    <h3 class="ingredient-name">Orange</h3>
                    <p>
                      also has a ton of Vitamin C to synthesize that collagen.
                    </p>
                  </div>
                </div>
              </div>
              <div class="ingredient-detail">
                <div class="row">
                  <div class="absolute">
                    <img class="image" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/ingredient-image.png?12098225533691384626" alt="background-pattern">
                  </div>
                  <div class="ingredient-paragraph index-front">
                    <h3 class="ingredient-name">Water</h3>
                    <p>
                      of course. There’s a ton of filtered water in this so that you stay hydrated and the drink stays light and refreshing.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-background-img offset-3">
            <img class="image" src="https://cdn.shopify.com/s/files/1/0029/2349/5490/files/Rectangle_13_Copy.png?12117766935876502050" alt="background-pattern">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
