<div class="container">
  <div class="quotes">
    <div class="row">
      <div class="col-lg-5 col-sm-12">
        <h6>Important People Saying Important Things</h6>
      </div>
      <p>
        <div class="col-lg-7 col-sm-12">
          <a href="https://www.vogue.com/article/ingestible-collagen-supplements-risks-benefits-skin-bone-health">Vogue</a>
          <blockquote>
            “Our beating hearts may keep us alive, but it’s collagen, the most abundant protein in the human body, that gives strength and structure to our bones, muscles, skin, and tendons.”
          </blockquote>
        </div>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 offset-lg-5 col-sm-12">
      <a href="https://www.wellandgood.com/good-looks/drinkable-collagen-skin-benefits/">Well+Good</a>
      <blockquote>
        “Collagen protein is unique, in that it has high amounts of the amino acids glycine, proline, and lysine, which are essential for the formation and repair of connective tissues, repair of bone matrix and joint surfaces, support of healthy skin and hair, and more.”
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 offset-lg-5 col-sm-12">
      <a href="https://www.livestrong.com/article/431493-what-are-the-benefits-of-a-collagen-powder-drink/">Livestrong</a>
      <blockquote>
        “Collagen [is] a particularly rich source of the amino acid glycine, which supports metabolic functions and detoxification.”
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 offset-lg-5 col-sm-12">
      <a href="https://www.mindbodygreen.com/articles/collagen-peptides-gut-healing-and-skin-benefits">MindBodyGreen</a>
      <blockquote>
        “Collagen plays an important role in connective tissue functioning, meaning that healthy collagen levels are paramount for maintaining ideal body strength.”
      </blockquote>
    </div>
  </div>
</div>
