<!-- /templates/page.liquid -->
<div class="faq-background">
  <div class="row">
    <div class="col-12">
      <h1 class="bold text-center wo-padding-bottom-104 wo-padding-top-104">{{ page.title }}</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-12">
      <h6 class="wo-margin-top-104 wo-margin-bottom-32">Our Products</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-12">
      <button class="accordion h4">What is collagen protein?</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>

      <button class="accordion h4">How does collagen protein work?</button>
      <div class="panel">
        <p>Lorem ipsum...</p>
      </div>

      <button class="accordion h4">What are the benefits of collagen protein?</button>
      <div class="panel">
        <p>Lorem ipsum...</p>
      </div>

      <button class="accordion h4">What’s in Working Order?</button>
      <div class="panel">
        <p>Lorem ipsum...</p>
      </div>

      <button class="accordion h4">When should I drink Working Order?</button>
      <div class="panel">
        <p>Lorem ipsum...</p>
      </div>

      <button class="accordion h4">Does Working Order need to be refrigerated?</button>
      <div class="panel">
        <p>Lorem ipsum...</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-12">
      <h6 class="wo-margin-top-72 wo-margin-bottom-32">Subscriptions</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-12">
      <button class="accordion h4">How do subscriptions work?</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>

      <button class="accordion h4">Why should I subscribe?</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>

      <button class="accordion h4">How often will I be sent Working Order?</button>
      <div class="panel">
        <p>Lorem ipsum...</p>
      </div>

      <button class="accordion h4">Can I edit my subscription?</button>
      <div class="panel">
        <p>Lorem ipsum...</p>
      </div>

      <button class="accordion h4">Can I cancel my subscription?</button>
      <div class="panel">
        <p>Lorem ipsum...</p>
      </div>
    </div>
  </div>
  <div class="row wo-margin-bottom-104 wo-margin-top-104">
    <div class="col-lg-10 offset-lg-1 col-12">
      <p class="bold text-center">Still have questions or want to say hi?</p>
      <p class="text-center">
        Text us: 917.737.1717  /  DM us @working.order  /  email us at hello@drinkworkingorder.com  /  <a href="products/morello-cherry-rose-hip-collagen-protein-water">Shop</a>
      </p>
    </div>
  </div>
</div>
