<!-- /templates/page.liquid -->
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col-lg-3 offset-lg-1 col-12">
        <h1 class="bold">{{ page.title }}</h1>
      </div>
      <div class="col-lg-6 offset-lg-1 col-12">
        {% comment %}
          Regular page content goes here.
        {% endcomment %}
        <div class="rte">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>

</div>
